---
import Articles from "../components/Articles.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Loreto Vaquero - Frontend Developer">
  <main>
    <Hero />
    <Experience />
    <Projects />
    <Articles />
  </main>
</Layout>
