---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Loreto Vaquero - Frontend Developer">
  <main>
    <Hero />
    <Experience />
  </main>
</Layout>

<style></style>
