<article class="about-me">
  <p></p>
  <img
    src="me.webp"
    alt="Loreto Vaquero"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
<style>
  .about-me {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
    column-gap: var(--large-spacing);
  }
</style>
