---
import Link from "./Link.astro";

const currentYear = new Date().getFullYear();
const footerNavItems = [
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:loret.vaquero@gmail.com",
  },
];
---

<footer class="footer">
  <div class="footer-content">
    <span
      >© {currentYear}
      Loretus. Ningún derecho reservado</span
    >
    <ul class="footer-links-list">
      {
        footerNavItems.map((link) => (
          <li>
            <Link label={link.label} url={link.url} title={link.title} />
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<style>
  .footer {
    width: 100%;
    opacity: 0.8;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
  }

  .footer-links-list {
    display: flex;
    column-gap: var(--medium-spacing);
    margin: 0;
    padding: 0;
  }

  @media (min-width: 768px) {
    .footer-content {
      max-width: var(--max-width-tablet);
    }
  }
  @media (min-width: 1024px) {
    .footer-content {
      max-width: var(--max-width-tablet);
    }
  }
</style>
