---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer-content">
    <span
      >© {currentYear}
      Loretus. Ningún derecho reservado</span
    >
  </div>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
  >
    <li>
      <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
    </li>
    <li>
      <a id="contacto" href="mailto:miduga@gmail.com" class="hover:underline"
        >Contacto</a
      >
    </li>
  </ul>
</footer>

<style>
  .footer {
    width: 100%;
    opacity: 0.8;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .footer-content {
      max-width: var(--max-width-tablet);
    }
  }
  @media (min-width: 1024px) {
    .footer-content {
      max-width: var(--max-width-tablet);
    }
  }
</style>
