---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:miduga@gmail.com",
  },
]
---

<header class="header">
  <nav class="nav">
    <a class="nav-item" href="/">Home</a> 
    <a class="nav-item" href="/about/">About</a> 
    <a class="nav-item" href="/projects">Projects</a> 
    <a class="nav-item" href="/contact">Contact</a>
  </nav>
</header>
<style>
  .header {
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
  }

  .nav {
    display: flex; 
    border-radius: 9999px; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #4B5563; 
  }

  .nav-item {
    display: block; 
    position: relative; 
    padding: 0.5rem;
    color: inherit;
    text-decoration: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
  }

  .nav-item:hover {
    color: #F59E0B; 
}  
</style>