---
import { PROFILE_SECTIONS } from "../data/profileSections";
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";

const NAV_ITEMS = [
  ...PROFILE_SECTIONS,
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:loret.vaquero@gmail.com",
  },
];
---

<header class="header">
  <nav class="nav">
    {
      NAV_ITEMS.map((PROFILE_SECTION) => (
        <Link
          label={PROFILE_SECTION.label}
          url={PROFILE_SECTION.url}
          title={PROFILE_SECTION.title}
        />
      ))
    }
    <ThemeToggle />
  </nav>
</header>
<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: IntersectionObserverEntry[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") === entry.target.id) {
              item.classList.add("active-link");
            } else {
              item.classList.remove("active-link");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => observer.observe(section));

    // Limpieza cuando se cambia de pestaña
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => observer.observe(section));
      }
    };
  });
</script>

<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  @keyframes nav-shadown {
    to {
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      backdrop-blur: blur(8px);
    }
  }

  @media (min-width: 768px) {
    .hero {
      margin: 1rem;
    }
    .nav {
      font-size: 1rem;
    }
  }
</style>
