---
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:loret.vaquero@gmail.com",
  },
];
---

<header class="header">
  <nav class="nav">
    {
      navItems.map((link) => (
        <Link label={link.label} url={link.url} title={link.title} />
      ))
    }
    <ThemeToggle />
  </nav>
</header>
<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .nav {
    display: flex;
    padding: 0 0.75rem;
    border-radius: 50%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #4b5563;
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  @keyframes nav-shadown {
    to {
      box-shadow: 0 0 0 1px rgb(59 130 246 / 0.5);
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      backdrop-blur: blur(8px);
    }
  }
</style>
