<span class="tag">
  <u><slot /></u>
</span>
<style>
  .tag {
    display: inline-block;
    border: 0.0625rem solid var(--font-primary-color);
    border-radius: var(--small-border-radius);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }

  .tag u {
    box-shadow: inset 0 -0.5em 0 var(--highlight-soft-color);
    text-decoration: none;
    transition: box-shadow 0.3s ease-out;
  }
</style>
