---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="section" id={id} data-section={id}><slot /></section>
<style>
  .section {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  @media (min-width: 768px) {
    .section {
      max-width: var(--max-width-tablet);
    }
  }
  @media (min-width: 1024px) {
    .section {
      max-width: var(--max-width-laptop);
    }
  }
</style>
